:root {
	color-scheme: dark;

	/* https://lospec.com/palette-list/twilight-5 */
	--primary: #fbbbad;
	--primary-stronger: #ee8695;

	--secondary: #292831;
	--secondary-stronger: #4a7a96;

	--font: 'Fantasque Sans Mono';

	--split-left: 30ch;
	--split-right: 48ch; /* golden */
}
@font-face {
	font-family: 'Fantasque Sans Mono';
	src: url('fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
	     url('fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	     url('fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	     url('fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: 400;
	font-style: normal;
}
body {
	margin: 0;
	font-family: var(--font);
	font-size: 1.05rem;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#content {
	flex-grow: 1;
}
/* ==== HEADER ==== */
.header { /* for posts */
	padding-bottom: 0 !important;
}
.logo {
	display: flex;
	height: 100vh;
}
.logo pre {
	margin: auto;
	font-family: var(--font);
	font-size: 2.2vw;
}

/* ==== GENERAL ==== */
.flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.flexouter {
	padding-bottom: 1em;
}

/* ==== CONTENT ==== */
.split {
	flex-direction: row;
	justify-content: center;
	align-items: normal;
	justify-items: center;
}
.split > * {
	flex: 1;
	padding: 1.5em 1em 0em;
}
#posts {
	min-width: var(--split-left);
	flex: 1;
}
#about {
	min-width: var(--split-right);
	flex: 2;
}
.split h4 {
	margin-top: 0;
	margin-bottom: 1em;
}

.middle {
	max-width: 100ch;
}

/* ==== FOOTER ==== */
.links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.links > * {
	margin: 0.3em;
}


/* ==== COLOR ==== */
.dark {
	background-color: var(--secondary);
	color: var(--primary);
}

.light {
	background-color: var(--primary);
	color: var(--secondary);
}

.light a:link { color: var(--secondary-stronger); }
.light a:visited { color: var(--secondary); }

.dark a:link { color: var(--primary-stronger); }
.dark a:visited { color: var(--primary); }
